*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  /* font-family: 'Lato', sans-serif;   */
}

#contenedor_carga {
    background-color: rgba(52, 58, 64, 1);
    height: 87%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solid #FFFFFF; 
    border-top-color: #1b84ca;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.minh {
  height: 115vh;
}

.titulo-carga{
  font-weight: 700;
  font-size: 45px;
  font-family: 'Lato', sans-serif;  
}

.cuerpo-carga{
  font-weight: 400;
  font-size: 25px;
  font-family: 'Lato', sans-serif;  
}